langchain
langchain_community
langchain_experimental
langchain_groq
langchain-huggingface
huggingface-hub
langchain-google-genai
python_dotenv
pydantic
pypdf
grandalf
chromadb
lancedb
wikipedia
sentence-transformers
tantivy
duckduckgo-search
email_validator
youtube-transcript-api
