langchain
langchain_community
langchain_experimental
langchain_groq
langchain-huggingface
huggingface-hub

langgraph

python_dotenv
# pandas

# langserve[all]

# transformers
pydantic
# agno
pypdf
grandalf
chromadb
lancedb
wikipedia
sentence-transformers

tantivy
duckduckgo-search
email_validator
youtube-transcript-api
